[mariadbd]
basedir=@ROOT@/sysroot/usr
datadir=@ROOT@/mariadb-data
socket=@ROOT@/mariadb.sock
pid-file=@ROOT@/mariadb.pid
port=3307
bind-address=127.0.0.1
lc-messages-dir=@ROOT@/sysroot/usr/share/mariadb
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-name-resolve
innodb-buffer-pool-size=256M
log-error=@ROOT@/logs/mariadb-error.log
